{% for comment in comments %}
    <div class="row">
        <div class="col-12 px-4">
            <div class="d-inline">{{ comment.user.nickName }} : </div>
            <a
                    {% if not is_granted('ROLE_USER') %}
                        data-toggle="modal" data-target="#exampleModal"
                    {% endif %}
                    href="{{ path('comment_like', { 'id' : comment.id }) }}" class="btn btn-link js-like-comment">
                {% if app.user and comment.isLikedByUser(app.user) %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
                <span class="js-likes-comment">{{ comment.commentLikes | length }}</span>
                <span class="js-label-comment">j'aime</span>
            </a>
            <p class="text-muted">{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-12 px-4">
        {{ form_start(form, {
            'attr': {
                'class': 'form-inline',
                'novalidate': 'novalidate',
            }
        } ) }}

        <fieldset>

        <div class="form-group">

        {{ form_row(form.content) }}
        </div>

        </fieldset>
        {{ form_end(form) }}
    </div>
</div>
