{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">{{ post.title }}</h1>
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('login') }}" class="my-2 btn btn-success">Connexion</a>
        {% else %}
            <a href="{{ path('logout') }}" class="my-2 btn btn-danger">Déconnexion</a>
        {% endif %}
        <div class="row">
                <div class="col-12 mb-12">
                    <div class="border border-dark rounded p-2">
                        <h3>{{post.introduction}}</h3>
                        {{post.content | raw}}
                        <a href="{{ path('post_like', { 'id' : post.id }) }}" class="btn btn-link js-like">
                            {% if app.user and post.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ post.likes | length }}</span>
                            <span class="js-label">j'aime</span>

                        </a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/ajax_like.js"></script>
{% endblock %}